@font-face
{
	font-family:'Menksoft2012';
	font-style:normal;
	font-weight:normal;
	src:url('Menksoft2012.eot');
	src:url('Menksoft2012.eot?#iefix') format('embedded-opentype'),
	url('Menksoft2012.woff') format('woff'),
	url('Menksoft2012.ttf') format('truetype');
}
@font-face
{
	font-family:'MenkGarqag';
	font-style:normal;
	font-weight:normal;
	src:url('/MenkGarqag.eot');
	src:url('/MenkGarqag.eot?#iefix') format('embedded-opentype'),
	url('/MenkGarqag.woff') format('woff'),
	url('/MenkGarqag.ttf') format('truetype')
}
html
{
	height: 100%;
	border: 0;
	_overflow-y: hidden
}
/**
body
{
	width: 100%;
	height: 100%;
	margin: 0 auto 0 auto;
	padding: 0;
	background: url(img/view/mkh_bdy_bg.jpg) repeat-y left top #fff;
	font: normal 18px Menksoft2012;
	text-align: center
}
**/

a:link
{
	font: normal 18px Menksoft2012;
	color: #733902;
	text-decoration: none
}
a:visited
{
	font: normal 18px Menksoft2012;
	color: #733902;
	text-decoration: none
}
a:hover
{
	font: normal 18px Menksoft2012;
	color: #ff6c00;
	text-decoration: none
}
a:active
{
	font: normal 18px Menksoft2012;
	color: #ff6c00;
	text-decoration: none
}
p,table,td,ul,ol,fieldset,li,input,textarea
{
	margin: 0;
	padding: 0;
	font-family: Menksoft2012;
	font-weight: normal;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-focus-ring-color: rgba(0, 0, 0, 0)
}
table
{
	border-collapse: collapse
}
td
{
	vertical-align: top;
	text-align: left
}
table,ul,ol,fieldset,img
{
	border: 0
}
li
{
	list-style-type: none
}
input,textarea
{
	resize: none;
	border-radius: 0
}
input,textarea:focus,select:focus
{
	outline: none
}
.vtcl
{
	
	-ms-transform: rotate(90deg) translate(0, -100%);
	-ms-transform-origin: 0% 0%;
	-webkit-transform: rotate(90deg) translate(0, -100%);
	-webkit-transform-origin: 0% 0%;
	-moz-transform: rotate(90deg) translate(0,-100%);
	-moz-transform-origin: 0% 0%;
	-o-transform: rotate(90deg) translate(0,-100%);
	-o-transform-origin: 0% 0%;
	white-space: nowrap
}
.vertical
{
	writing-mode:tb-rl;
	-webkit-writing-mode:vertical-lr;
	-webkit-text-orientation:sideways-right;
	writing-mode:vertical-lr;
	text-orientation: sideways-right;
	white-space: nowrap
}
.input
{
	float: left;
	width: 42px;
	border: 2px solid #F7BF00;
	background: #fff
}
.input input
{
	float: left;
	height: 42px;
	font: normal 18px/42px Menksoft2012;
	color: #2e6f94;
	border: 0;
	margin-top: 2px;
	cursor: vertical-text;
	background: #fff
}
.tooltip {
	width:36px;
	position: absolute;
	z-index: 1070;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	white-space: normal;
	filter: alpha(opacity=0);
	opacity: 0;
	line-break: auto;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.tooltip-inner {
  max-width: 200px;
  padding: 8px 4px;
  color: #fff;
  text-align: center;
  background-color: #2e6f94;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #2e6f94;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
#wrapper,.container,#mainwrapper
{
	width: 100%
}
#wrapper
{
	height: 100%;
	position: relative
}
.container
{
	position: absolute;
	left: 0;
	top: 50%
}
#container
{
	height: 440px;
	margin-top: -240px
}
#mainwrapper
{
	overflow: hidden
}
#headerwrapper
{
	width: 80px;
	height: 100%
}
#wyr
{
	width: 20px;
	height: 100%;
	margin: 200px  30px;
	_margin: 150px 15px
}
#nav
{
	width: 20px;
	height: 100%;
	margin: 0 30px;
	_margin: 0 15px
}
#nav ul
{
	float: left;
	width: 100%;
	height: 130px
}
#nav li
{
	width: 20px;
	height: 20px;
	margin-bottom: 30px;
	text-align: left
}
/*Searching Result*/
#formwrapper
{
	width: 200px;
	height: 440px;
	margin: 0 auto
}
#logo
{
	float: left;
	width: 130px;
	height: 340px
}
#logo img
{
	width: 100%
}
#searchwrapper
{
	float: left;
	width: 44px;
	height: 440px;
	margin-left: 16px;
	_display: inline
}
#searchipt
{
	height: 349px;
	border-bottom: none
}
#searchipt input
{
	width: 345px
}
#searchipt input:focus 
{
	outline: 0;
	background: #fff;
}
#searchipt input::-webkit-input-placeholder 
{
	color: #999;
	font-size:16px;
	font-weight: normal;
}
#searchipt input:-moz-placeholder 
{
	color: #999;
	font-size:16px;
	font-weight: normal;
}
#searchipt input:-ms-input-placeholder 
{
	color: #999;
	font-size:16px;
	font-weight: normal;
}  
.submit
{
	width: 44px;
	height: 90px
}
.submit input
{
	width: 44px;
	height: 90px;
	background: url(../img/sear.png) no-repeat;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="img/sear.png");
	_background: none;
	border: 0
}
/*Searching Result End*/
/*Add Site*/
#addwrapper
{
	width: 360px;
	height: 440px;
	margin: 0 auto;
	padding: 0 20px;
	text-align:left
}
#addwrapper ul
{
	float: left;
	width: 270px;
	height: 100%
}
#addwrapper li
{
	float: left;
	width: 44px;
	height: 100%;
	margin-right: 10px;
	_margin-right: 5px
}
#addwrapper li div.form-title
{
	float: left;
	width: 44px;
	height: 110px;
	margin-bottom: 10px
}
#addwrapper li div.form-title span
{
	float: left;
	color: #2e6f94;
	line-height: 40px
}
#addwrapper li div.form-input
{
	height: 318px
}
#addwrapper li div.form-input input
{
	width: 314px
}
#formbtn
{
	float: left;
	width: 40px;
	height: 440px;
	margin-right: 10px;
	_margin-right: 5px;
	position: relative
}
#formbtn span
{
	float: left;
	width: 100%;
	height: 90px;
	position: absolute;
	left: 0;
	bottom: 0
}
#formbtn span input
{
	float: left;
	width: 100%;
	height: 100%;
	font: normal 18px/40px Menksoft2012;
	background: url(../img/submit.jpg) no-repeat;
	color: #221815;
	border: 0
}
#forminfo
{
	float: left;
	width: 40px;
	height: 440px
}
#forminfo span
{
	float: left;
	width: 40px;
	height: 40px;
	font: normal 18px/40px Menksoft2012;
	color: #f00
}
#footerwrapper
{
	width: 109px;
	height: 100%
}
#footer
{
	float: left;
	width: 94px;
	height: 100%;
	border-left: 1px solid #2e6f94;
	padding-left: 14px;
	text-align: center;
	overflow: hidden
}
.copy
{
	width: 94px
}
#copy
{
	height: 370px
}
#resultcopy
{
	height: 483px
}
.copy span
{
	float: left;
	width: 20px;
	height: 20px;
	font: normal 18px/20px Menksoft2012;
	color: #aaa;
	text-align: left
}
.copy span em
{
	font: normal 12px/20px Arial,SimSun;
	vertical-align: bottom
}
.copy span a
{
	color: #2e6f94
}
.copy span em a
{
	font: normal 14px/20px Arial;
	color: #aaa;
	text-decoration: none
}
.copy span a:hover,.copy span em a:hover
{
	color: #f80
}
#qrcode
{
	height: 59px;
	margin-top: 10px;
	text-align: left
}
/*Searching Result & Advanced Search*/
#resultcontainer
{
	height: 544px;
	margin-top: -292px
}
#resultheaderwrapper
{
	width: 230px;
	height: 544px;
}
#resultheader
{
	float: left;
	width: 229px;
	height: 544px;
	border-right: 1px solid #2e6f94
}
#resultnav
{
	float: left;
	width: 44px;
	height: 100%;
	margin-left: 74px;
	_margin-left: 37px
}
#resultlogo
{
	float: left;
	width: 44px;
	height: 42px;
	margin-bottom: 12px
}
#resultipt
{
	height: 399px;
	border-bottom: 0
}
#resultipt input
{
	width: 395px
}
#resultoption
{
	float: left;
	width: 22px;
	height: 100%;
	margin: 56px 0 0 20px;
	_margin: 56px 0 0 10px
}
#resultoption li
{
	float: left;
	width: 22px;
	height: 130px
}
.resultoption
{
	width: 22px;
	height: 22px
}
.resultoption input
{
	width: 14px;
	height: 14px;
	margin: 0 4px;
	_margin: 0 2px
}
.label span
{
	float: left;
	font: normal 18px/22px Menksoft2012;
	color: #2e6f94
}
.listtitle div
{
	float: left;
	width: 22px;
	margin-left: 40px;
	_margin-left: 20px
}
.listtitle span,.listdate span,.listbtn span
{
	float: left
}
.listtitle span
{
	width: 22px;
	height: 22px;
	color: #2e6f94;
}
.listtitle span a:link,.listtitle span a:visited
{
	font: normal 20px/22px Menksoft2012;
	color: #2e6f94;
	text-decoration: overline
}
.listabs table
{
	margin: 0 4px 0 16px;
	_margin: 0 2px 0 8px
}
.listabs td
{
	width: 30px;
	height: 100%
}

.listabs td span
{
	float: left;
	+float: none;
	width: 22px;
	height: 22px;
	font: normal 18px/22px Menksoft2012;
	color: #1b1b1b;
	text-align: left
}
.listabs td span em
{
	font: normal 18px/22px Menksoft2012;
	color: #f36e1f;
	vertical-align: bottom
}
.listdate
{
	width: 20px;
	height: 438px
}
.listdate span
{
	font: normal 14px/20px Tahoma;
	color: #5c942e;
	text-decoration: none
}
.listbtn
{
	width: 20px;
	height: 104px
}
.listbtn span a:link,.listbtn span a:visited
{
	font: normal 18px/20px Menksoft2012;
	color: #2e6f94;
	text-decoration: none
}
#resultpage
{
	float: left;
	width: 25px;
	height: 624px;
	margin: 0 auto;
	margin: 0 10px 0 40px;
	_margin: 0 5px 0 20px
}
#resultpagelogo
{
	float: left;
	width: 25px;
	height: 24px;
	margin-bottom: 20px;
	background: url(../img/logo2.png) no-repeat;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="img/logo4.png");
	_background: none
}
#resultcut
{
	float: left;
	width: 25px;
	height: auto
}
#resultcut ul
{
	float: left;
	width: 20px;
	margin-left: 2px;
	_margin-left: 1px
}
#resultcut li
{
	float: left;
	margin-bottom: 13px
}
#resultcut li.active,#resultcut li.normal
{
	width: 18px;
	height: 18px;
	text-align: center
}
#resultcut li.active
{
	font: bold 14px/18px Arial;
	border: 1px solid white
}
#resultcut li.normal
{
	font: normal 14px/18px Arial;
	border: 1px solid #e5e5e5
}
#resultcut li.normal a:link,#resultcut li.normal a:visited,#resultcut li.gt a:link,#resultcut li.gt a:visited
{
	font: normal 14px/18px Arial;
	color: #00479d
}
#resultcut li.normal a:hover,#resultcut li.gt a:hover
{
	font: normal 14px/18px Arial;
	color: #00479d;
	text-decoration: underline
}
#resultcut li.gt
{
	width: 18px;
	height: 18px;
	border: 1px solid #e5e5e5;
	text-align: center
}
/*Searching Result & Advanced Search End*/
/*Help*/
#helpwrapper
{
	width: auto;
	height: 440px;
	padding: 0 20px;
	text-align:left
}
#helpwrapper .listtitle div
{
	margin:0
}
/*Help End*/
.tiao{
float:left;
width:50px;
height:550px;
margin:0;
background:url(/img/tiao.jpg);}
.tiao span{
float:left;
color:#f36e1f;
margin:55px 0 0 15px;}

.button {
    background-color: #F7BF00;
	border:none;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
	font-family: Meiryo;
    margin: 270px 2px;
    cursor: pointer;
	border-radius: 50%;
	height: 70px;
	
	-ms-transform: rotate(90deg) translate(0, -100%);
	-ms-transform-origin: 0% 0%;
	-webkit-transform: rotate(90deg) translate(0, -100%);
	-webkit-transform-origin: 0% 0%;
	-moz-transform: rotate(90deg) translate(0,-100%);
	-moz-transform-origin: 0% 0%;
	-o-transform: rotate(90deg) translate(0,-100%);
	-o-transform-origin: 0% 0%;
	white-space: nowrap
}

.button0 {
    background-color: #e7e7e7;
    border:2px solid #F7BF00;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
	font-family: Meiryo;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 32px;
	
	-ms-transform: rotate(90deg) translate(0, -100%);
	-ms-transform-origin: 0% 0%;
	-webkit-transform: rotate(90deg) translate(0, -100%);
	-webkit-transform-origin: 0% 0%;
	-moz-transform: rotate(90deg) translate(0,-100%);
	-moz-transform-origin: 0% 0%;
	-o-transform: rotate(90deg) translate(0,-100%);
	-o-transform-origin: 0% 0%;
	white-space: nowrap
}